<template>
  <div class="w-full sm:max-w-4xl text-left sm:mx-auto">
    <div class="w-full min-h-[50vh] p-8 border-2 border-primary-500 space-y-4">
      <slot></slot>
    </div>
  </div>
</template>
