<template>
  <div class="flex items-center justify-between">
    <div>
      <button
        v-if="value !== min"
        :disabled="value === min"
        type="button"
        class="inline-flex items-center px-6 py-3 border border-transparent font-medium rounded-md shadow-sm text-primary-600 hover:text-primary-700 disabled:hover:text-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:opacity-50 disabled:cursor-auto"
        @click="$emit('input', value === min ? min : value - 1)"
      >
        Back
      </button>
    </div>
    <div>
      <button
        v-if="value !== max"
        :disabled="value === max"
        type="button"
        class="inline-flex items-center px-6 py-3 border border-transparent font-medium rounded-md shadow-sm text-white bg-primary-600 hover:bg-primary-700 disabled:hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:opacity-50 disabled:cursor-auto"
        @click="$emit('input', value === max ? max : value + 1)"
      >
        Continue
      </button>
      <button
        v-else
        v-tooltip="'Dokončit'"
        type="button"
        class="inline-flex items-center px-6 py-3 border border-transparent font-medium rounded-md shadow-sm text-white bg-primary-600 hover:bg-primary-700 disabled:hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 disabled:opacity-50 disabled:cursor-auto"
        @click="$emit('complete')"
      >
        Complete
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 0
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 1
    }
  }
};
</script>
