<template>
  <div class="w-full text-left sm:mx-auto">
    <div class="w-full min-h-[50vh] p-8 border-2 border-primary-500">
      {{ displayText.join("") }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    speed: {
      type: Number,
      default: 500
    },
    deleteSpeed: {
      type: Number,
      default: 166
    },
    words: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      displayText: [],
      currentWord: "",
      wordIdx: 0
    };
  },
  mounted() {
    this.start();
  },
  computed: {
    // can adjust speeds based on other factors if needed
    TYPE_SPEED() {
      return this.speed;
    },
    DELETE_SPEED() {
      return this.deleteSpeed;
    },
    timeoutSpeed() {
      return this.TYPE_SPEED * 0.8;
    }
  },
  methods: {
    start() {
      if (this.words && this.words.length > 0) {
        this.currentWord = this.words[this.wordIdx].split("");
        this.wordIdx++;
        this.animate = setTimeout(this.type, this.timeoutSpeed);
      }
    },
    type(word) {
      // if typing...
      if (this.currentWord.length > 0) {
        this.displayText.push(this.currentWord.shift());
        // if done typing, then delete
      }
      setTimeout(this.type, this.timeoutSpeed);
    }
  }
};
</script>
