<template>
  <div class="flex flex-col justify-center text-center space-y-12">
    <h1 class="text-4xl text-white">
      Chapter 4:
      <span v-tooltip="'Generálova'">General's</span> map
    </h1>
    <Typewriter
      v-show="page === 0"
      :words="['Hi Steven, thank you! We have one more job for you...']"
      :speed="100"
    />
    <DisplayBox v-show="page === 1">
      <p>
        <span v-tooltip="'minulý'">Last</span> week
        <span v-tooltip="'vyhráli jsme'">we won</span> a
        <span v-tooltip="'bitva'">battle</span> with Krygons.
      </p>
      <p>
        General Angwar <span v-tooltip="'přistál'">landed</span> on the Earth
        and <span v-tooltip="'ztratil se'">got lost</span>.
      </p>
      <p>
        Can you draw him a map?
      </p>
      <p>This is the <span v-tooltip="'místo'">place</span>:</p>
    </DisplayBox>
    <DisplayBox v-show="page === 2">
      <ul class="list-disc list-inside space-y-4">
        <li>
          In the North, there are mountains
          <span v-tooltip="'nazývané'">called</span> Pyrénées.
        </li>
        <li>In the East and South, there is Balearic sea.</li>
        <li>
          In the South <span v-tooltip="'blízko'">near</span> the sea there is a
          city <span v-tooltip="'nazývané'">called</span> Barcelona
        </li>
        <li>
          In the West, there is a city
          <span v-tooltip="'nazývané'">called</span> Lleida
        </li>
      </ul>
    </DisplayBox>
    <DisplayBox v-show="page === 3">
      <p>
        Please draw the map, <span v-tooltip="'najdi'">find</span> a place
        <span v-tooltip="'nazývané'">called</span> Girona and put it in the map
        <span v-tooltip="'také'">too</span>.
      </p>
      <p>
        Send me a picture of the map.
      </p>
    </DisplayBox>
    <div>
      <Pagination
        class="w-full"
        v-model="page"
        :max="3"
        @complete="completeStep"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 0,
      content: {
        buttonText: "continue"
      }
    };
  },
  methods: {
    completeStep() {
      this.$emit("complete", 4);
    }
  }
};
</script>
