<template>
  <div class="flex flex-col justify-center text-center space-y-12">
    <h1 class="text-4xl text-white">
      Chapter 3:
      <span>Krygon</span>
      <span v-tooltip="'tajemství'">secret</span>
    </h1>
    <Typewriter
      v-show="page === 0"
      :words="[
        'Steven, we hear secret Krygon message on the radio. Can you translate?'
      ]"
      :speed="100"
    />
    <DisplayBox v-show="page === 1">
      <p>
        The <span v-tooltip="'jazyk'">language</span> is very
        <span v-tooltip="'podobný'">similar</span> to Czech.
      </p>
      <p>
        Can you <span v-tooltip="'přeložit'">translate</span> this to English
        and send it to me?
      </p>
    </DisplayBox>
    <DisplayBox v-show="page === 2">
      <p>
        Zautoczyime zyitra, male lodje od seweru velke lodje od wyichodu.
      </p>
      <p>
        Uutok zaczyina o puulnocy.
      </p>
      <p>
        Jmeeno naszeho agenta ye Krong. Krong muzse zabiit generaala Angwara.
      </p>
      <p>
        Duulezsitee: Naash kraal je w malee lodji!
      </p>
    </DisplayBox>
    <div>
      <Pagination
        class="w-full"
        v-model="page"
        :max="2"
        @complete="completeStep"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 0,
      content: {
        buttonText: "continue"
      }
    };
  },
  methods: {
    completeStep() {
      this.$emit("complete", 3);
    }
  }
};
</script>
