<template>
  <div class="flex flex-col justify-center text-center space-y-12">
    <h1 class="text-4xl text-white">
      Chapter 2:
      <span v-tooltip="'Špion'">The spy</span>
    </h1>
    <DisplayBox v-show="page === 0">
      <p>
        Steven,
      </p>
      <p>
        Krygons have an <span v-tooltip="'utajený'">undercover</span> agent - a
        <span v-tooltip="'špeh'">spy</span>!
      </p>
      <p>
        Please, help us <span v-tooltip="'najít'">find</span> him on a video.
      </p>
    </DisplayBox>
    <DisplayBox v-show="page === 1">
      <p>
        I have this <span v-tooltip="'informace'">information</span> about him:
      </p>
      <ol class="list-decimal list-inside space-y-4">
        <li>
          He <span v-tooltip="'nosí'">wears</span> blue jacket and blue shoes
        </li>
        <li>He also <span v-tooltip="'nosí'">wears</span> blue-green bag</li>
        <li>
          He listens to music <span v-tooltip="'pořád'">all the time</span> in
          headphones
        </li>
      </ol>
    </DisplayBox>
    <DisplayBox v-show="page === 2">
      <p>When you see him, stop the video and write the time.</p>
      <p>Send it to my email, please. Thank you!</p>
      <p>Simon</p>
    </DisplayBox>
    <DisplayBox v-show="page === 3">
      <video controls crossorigin playsinline poster="poster.jpg">
        <source src="~assets/video/camera.mp4" type="video/mp4" size="1080" />
      </video>
    </DisplayBox>
    <div>
      <Pagination
        class="w-full"
        v-model="page"
        :max="3"
        @complete="completeStep"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 0,
      content: {
        buttonText: "continue"
      }
    };
  },
  methods: {
    completeStep() {
      this.$emit("complete", 2);
    }
  }
};
</script>
