<template>
  <div class="flex flex-col justify-center text-center space-y-12">
    <h1 class="text-4xl text-white">
      Chapter 1:
      <span v-tooltip="'Tajná'">Secret</span>
      <span v-tooltip="'zpráva'">message</span>
    </h1>
    <Typewriter
      v-show="page === 0"
      :words="[
        'Hello Steven, This is a message from my satelite radio. I think it is from space...'
      ]"
      :speed="100"
    />
    <DisplayBox v-show="page === 1">
      <p>
        It is a <span v-tooltip="'šifrovaná'">ciphered</span> message. I think
        it's a
        <span v-tooltip="'Cézarova šifra'">Caesar's cipher.</span>
      </p>
      <p>
        You can read Caesar's cipher like this:
      </p>
      <p>
        <span v-tooltip="'posuň'">Shift</span> every letter two steps back in
        the alphabet.
      </p>
      <p>
        A -> Y<br />
        B -> Z<br />
        C -> A<br />
        D -> B<br />
        ...
      </p>
    </DisplayBox>
    <DisplayBox v-show="page === 2">
      <p>Please can you translate it?</p>
      <p>
        When you are <span v-tooltip="'hotov'">finished</span>, send it to my
        e-mail.
      </p>
      <p>Thanks! Simon</p>
    </DisplayBox>
    <DisplayBox v-show="page === 3">
      <p>Jgnnq rgqrng,</p>
      <p>
        Yg ctg Cpinqtu htqo vjg rncpgv Cpinqtcp 5. Yg ctg htkgpfu. Yg vtcxgn vq
        Cpftqogfc icncza.
      </p>
      <p>Mtaiqpu ctg cvvcemkpi wu!</p>
      <p>Yg pggf jgnr.</p>
    </DisplayBox>
    <div>
      <Pagination
        class="w-full"
        v-model="page"
        :max="3"
        @complete="completeStep"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 0,
      content: {
        buttonText: "continue"
      }
    };
  },
  methods: {
    completeStep() {
      this.$emit("complete", 1);
    }
  }
};
</script>
