<template>
  <div class="font-mono text-4xl text-primary-500 bg-gray-800">
    <div
      v-show="month"
      class="min-h-screen sm:max-w-3xl mx-auto pt-12 flex flex-col"
    >
      <Navigation :week="week" :completed="completed"></Navigation>
      <div class="flex flex-1 flex-col justify-center">
        <WeekOne
          v-show="completed === 0"
          class="mt-12"
          @complete="completeStep"
        ></WeekOne>
        <WeekTwo
          v-show="completed === 1 && week > 1"
          class="mt-12"
          @complete="completeStep"
        ></WeekTwo>
        <WeekThree
          v-show="completed === 2 && week > 2"
          class="mt-12"
          @complete="completeStep"
        >
        </WeekThree>
        <WeekFour
          v-show="completed === 3 && week > 3"
          class="mt-12"
          @complete="completeStep"
        >
        </WeekFour>
        <div
          v-show="completed < 4 && completed === week"
          class="text-center space-y-4 mt-12"
        >
          <div>
            <p class="text-4xl text-white">GOOD JOB!</p>
            <p class="mt-4">Work for this week is finished.</p>
            <p class="mt-12 text-xl">
              Did you complete <span v-tooltip="'omylem'">by mistake?</span>
            </p>
          </div>
          <button
            @click="resetThisWeek"
            class="text-white text-xl underline hover:no-underline"
          >
            <span v-tooltip="'Vrať se zpět'">Come back</span> to the
            <span v-tooltip="'úkol'"></span>task
          </button>
        </div>
        <div
          v-show="completed === 4 && completed === week"
          class="text-center space-y-4 mt-12"
        >
          <div>
            <p class="text-4xl text-white">FANTASTIC!</p>
            <p class="mt-4">Our adventure is at the end.</p>
            <p class="mt-4">See you in September.</p>
            <p class="mt-12 text-xl">
              Did you complete <span v-tooltip="'omylem'">by mistake?</span>
            </p>
          </div>
          <button
            @click="resetThisWeek"
            class="text-white text-xl underline hover:no-underline"
          >
            <span v-tooltip="'Vrať se zpět'">Come back</span> to the
            <span v-tooltip="'úkol'"></span>task
          </button>
        </div>
      </div>
    </div>
    <div
      v-show="!month"
      class="min-h-screen sm:max-w-2xl mx-auto flex flex-col justify-center"
    >
      <p class="text-center">
        The <span v-tooltip="'Dobrodružství'">adventure</span> starts soon!
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      page: 0,
      completed: this.$cookies.get("angloranAdventureStep")
    };
  },
  computed: {
    month() {
      // show stuff only if month is August
      return this.$moment(new Date()).month() === 7;
    },
    week() {
      // show stuff based on current week
      let today = this.$moment(new Date());
      if (today.date() > 21) {
        return 4;
      } else if (today.date() > 14) {
        return 3;
      } else if (today.date() > 7) {
        return 2;
      } else {
        return 1;
      }
    }
  },
  mounted() {
    const step = this.$cookies.get("angloranAdventureStep");
    if (this.month && !step) {
      this.$cookies.set("angloranAdventureStep", 0, {
        expires: new Date("Tue, 31 Aug 2021 23:55:00 GMT")
      });
    }
    this.completed = this.$cookies.get("angloranAdventureStep");
  },
  methods: {
    completeStep(step) {
      this.$cookies.set("angloranAdventureStep", step, {
        expires: new Date("Tue, 31 Aug 2021 23:55:00 GMT")
      });
      this.completed = step;
    },
    resetThisWeek() {
      this.$cookies.set("angloranAdventureStep", this.week - 1, {
        expires: new Date("Tue, 31 Aug 2021 23:55:00 GMT")
      });
      this.completed = this.week - 1;
    }
  }
};
</script>
